{% extends "admin/base.html" %}
{% block title %}Damage Categories{% endblock title %}
  {% block body %}
    {% include "admin/partials/_side_bar.html" %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    {% include "admin/partials/_nav.html" %}

    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Damage Categories</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0" id="main-table">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Damage Count</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Workers Count</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date Added</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                    </tr>
                  </thead>
                  <tbody id="table-body">
                    {% for cat in categories | sort(attribute="name") %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{cat.name}}</h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-xs fw-bolder mb-0">{% if cat.damage_count %}{{cat.damage_count}} {% else %}0{% endif %}</span>
                      </td>
                      <td class="align-middle text-center text-xs">
                        <span class="fw-bolder">{{cat.workers | count}}</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{cat.created_at}}</span>
                      </td>
                      <td class="align-middle text-center">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs mx-2" data-cat-id={{cat.id}} data-toggle="tooltip" data-original-title="Edit Damage" onclick="editRecord(this)" data-bs-toggle="modal" data-bs-target="#editModal">
                          <i class="material-icons opacity-10">edit</i>
                        </a>
                        <a href="javascript:;" class="text-secondary text-xs text-danger mx-2" data-cat-id={{cat.id}} data-toggle="tooltip" data-original-title="Delete Location" onclick="deleteRecord(this)" data-bs-toggle="modal">
                            <i class="material-icons opacity-10">close</i>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div id="information">
        </div>
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Add Category</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2 mx-3">

                <form role="form">
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">Category Name</label>
                      <input type="text" class="form-control" id="category-name">
                        <div class="text-center input-group-append">
                            <button type="button" class="btn bg-gradient-primary btn-lg w-100 mb-0" id="submit-category">Add</button>
                        </div>
                    </div>
                  </form>
            </div>
          </div>
        </div>
      </div>
    {% include "admin/partials/_footer.html" %}
  </div>


    <!-- Delete Modal -->
    <div id="deleteModal" class="modal fade" aria-modal="true">
      <div class="modal-dialog modal-confirm">
        <div class="modal-content">
          <div class="modal-header flex-column">
            <div class="icon-box">
              <i class="material-icons">close</i>
            </div>						
            <h4 class="modal-title w-100">Are you sure?</h4>	
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Do you really want to delete this record? This process cannot be undone.</p>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="deleteButton">Delete</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- success Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="successModal">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
            <div id="checkIcon">
              <i class="text-success material-icons text-9xl">check_circle</i>
            </div>
            <div class="mt-4 py-2">
              <h5 class="px-4 pb-0 mb-1 text-secondary">Successful</h5>
              <p class="mt-4 text-sm" id="successMessage">Your Account Is Active</p>
            </div>
            <div class="py-1"><button type="button" class="btn btn-sm btn-outline-success rounded-pill px-5" data-bs-dismiss="modal">OK</button></div>
          </div>
        </div>
      </div>
    </div>

    <!-- failure Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="failureModal">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
            <div id="checkIcon">
              <i class="text-danger material-icons text-9xl">cancel</i>
            </div>
            <div class="mt-4 py-2">
              <h5 class="px-4 pb-0 mb-1 text-secondary">Failed</h5>
              <p class="mt-4 text-sm" id="failureMessage">Your Account Is Active</p>
            </div>
            <div class="py-1"><button type="button" class="btn btn-sm btn-danger rounded-pill px-5" data-bs-dismiss="modal">Close</button></div>
          </div>
        </div>
      </div>
    </div>
<script src="{{ url_for('admin_views.static', filename='js/category.js')}}"></script>
</main>

{% endblock body %}