{% extends "admin/base.html" %}
{% block title %}Damages{% endblock title %}
  {% block body %}
    {% include "admin/partials/_side_bar.html" %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    {% include "admin/partials/_nav.html" %}
    <!-- End Navbar -->



    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Damages</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0" id="main-table">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Facility</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Priority</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">State</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Submited On</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Assigned to</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                    </tr>
                  </thead>
                  <tbody id="table-body">
                    {% for damage in all_damages | sort(reverse=true, attribute="state,priority,created_at") %}
                    <tr id="{{damage.id}}">
                      <td>
                      <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm align-middle">{{damage.facilities.name}} in {{damage.facilities.infrastructures.name}}</h6>
                          </div>
                      </div>
                      </td>
                      <td>
                      <p class="text-xs font-weight-bold mb-0 align-middle">{{damage.priority}}</p>
                      </td>
                      <td class="align-middle text-center text-sm" id="state-{{damage.id}}">
                      <span class="badge badge-sm {% if damage.state == 'Completed' %}bg-gradient-success {% elif damage.state == 'Failed' %} bg-gradient-danger {% elif damage.state == 'Not Assigned' %} bg-gradient-warning {% else  %} bg-gradient-info{% endif %}">{{damage.state}}</span>
                      </td>
                      <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{damage.created_at.strftime('%Y-%m-%d')}}</span>
                      </td>
                      <td class="align-middle text-center text-sm" id="worker-{{damage.id}}">
                        {% if damage.working_on | length > 0 %}
                          {{damage.working_on[0].workers.first_name}} {{ damage.working_on[0].workers.last_name }}
                        {% else %}
                          Unassigned
                        {% endif %}
                      </td>
                      <td class="align-middle text-center text-sm">
                      <a href="/damages/{{damage.id}}" target="_blank" class="text-secondary font-weight-bold text-xs text-center mx-2" data-toggle="tooltip" data-original-title="View Record">
                        <i class="material-icons opacity-10">visibility</i>
                      </a>
                      <a href="javascript:;" class="text-secondary font-weight-bold text-xs mx-2" data-damage-id={{damage.id}} data-toggle="tooltip" data-original-title="Edit Damage" onclick="editRecord(this)" data-bs-toggle="modal" data-bs-target="#editModal">
                        <i class="material-icons opacity-10">edit</i>
                      </a>
                      <a href="javascript:;" class="text-secondary text-xs text-danger mx-2" data-damage-id={{damage.id}} data-toggle="tooltip" data-original-title="Delete Location" onclick="deleteHelper(this)" data-bs-toggle="modal" data-bs-target="#deleteModal">
                          <i class="material-icons opacity-10">close</i>
                      </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include "admin/partials/_footer.html" %}
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="oeditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Record</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label for="workerSeleoct" class="form-label">Pick a Worker</label>
            <select class="form-select" id="workoerSelect" aria-label="Default select example">
              <option selected>Open this select menu</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="">Save Changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete Modal -->
    <div id="deleteModal" class="modal fade" aria-modal="true">
      <div class="modal-dialog modal-confirm">
        <div class="modal-content">
          <div class="modal-header flex-column">
            <div class="icon-box">
              <i class="material-icons">close</i>
            </div>						
            <h4 class="modal-title w-100">Are you sure?</h4>	
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Do you really want to delete this record? This process cannot be undone.</p>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="deleteButton">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-modal="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close d-flex align-items-center justify-content-center" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="material-icons opacity">close</span>
            </button>
          </div>
          <div class="modal-body px-5">
            <h3 class="text-center mb-3">Update Damage</h3>
            <form action="#" class="signup-form">
              <div class="form-group mb-3">
                <label for="workerSelect">Select Worker:</label>
                <select class="form-control" name="category" id="workerSelect" required>
                  <option value="">Pick a Worker... </option>
                </select>
              </div>
              <div class="form-group mb-3">
                <label for="workerSelect">Change Priority:</label>
                <select class="form-control" id="damagePriority">
                  <option value="">Choose... </option>
                </select>
              </div>
              <div class="form-group mt-5">
                <button type="button" id="editButton" class="form-control btn btn-primary rounded submit px-3">Update Record</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
      
    <!-- success Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="successModal">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
            <div id="checkIcon">
              <i class="text-success material-icons text-9xl">check_circle</i>
            </div>
            <div class="mt-4 py-2">
              <h5 class="px-4 pb-0 mb-1 text-secondary">Successful</h5>
              <p class="mt-4 text-sm" id="successMessage">Your Account Is Active</p>
            </div>
            <div class="py-1"><button type="button" class="btn btn-sm btn-outline-success rounded-pill px-5" data-bs-dismiss="modal">OK</button></div>
          </div>
        </div>
      </div>
    </div>

    <!-- failure Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="failureModal">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
            <div id="checkIcon">
              <i class="text-danger material-icons text-9xl">cancel</i>
            </div>
            <div class="mt-4 py-2">
              <h5 class="px-4 pb-0 mb-1 text-secondary">Failed</h5>
              <p class="mt-4 text-sm" id="failureMessage">Your Account Is Active</p>
            </div>
            <div class="py-1"><button type="button" class="btn btn-sm btn-danger rounded-pill px-5" data-bs-dismiss="modal">Close</button></div>
          </div>
        </div>
      </div>
    </div>
  <script src="{{ url_for('admin_views.static', filename='js/damage.js')}}"></script>
  {% endblock body %}

  <!-- Edit Modal -->
  <div class="modal fade show" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close d-flex align-items-center justify-content-center" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true" class="ion-ios-close"></span>
    </button>
    </div>
    <div class="row no-gutters">
    <div class="col-md-6 d-flex">
    <div class="modal-body p-5 img d-flex text-center d-flex align-items-center" style="background-image: url(images/bg-1.jpg);">
    </div>
    </div>
    <div class="col-md-6 d-flex">
    <div class="modal-body p-4 p-md-5 d-flex align-items-center color-1">
    <div class="text w-100 py-3">
    <span class="subheading">Booking an Appointment</span>
    <h3 class="mb-4 heading">Free Consultation</h3>
    <form action="#" class="contact-form">
    <div class="form-group mb-3">
    <input type="text" class="form-control" placeholder="Full Name">
    </div>
    <div class="form-group mb-3">
    <input type="text" class="form-control" placeholder="Email address">
    </div>
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Subject">
    </div>
    <div class="form-group">
    <textarea name="" id="" cols="30" rows="4" class="form-control" placeholder="Message"></textarea>
    </div>
    <div class="form-group">
    <button type="submit" class="form-control btn btn-secondary rounded submit px-3">Send Message</button>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  </div>
