{% extends 'admin/base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block body %}

{% include 'admin/partials/_side_bar.html' %}

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

  {% include 'admin/partials/_nav.html' %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Infrastructures</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0" id="main-table">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Location</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Health</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date Added</th>
                    <th class="text-secondary opacity-7"></th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody id="table-body">
                    {% for infras in all_infras %}
                    <tr>
                        <td>
                        <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm align-middle">{{infras.name}}</h6>
                            </div>
                        </div>
                        </td>
                        <td>
                        <p class="text-xs font-weight-bold mb-0 align-middle">{{infras.location.name}}</p>
                        </td>
                        <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">75%</span>
                        </td>
                        <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{infras.created_at }}</span>
                        </td>
                        <td class="align-middle">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            Edit
                        </a>
                        </td>
                        <td class="align-middle">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs text-danger" id={{infras.id}} data-toggle="tooltip" data-original-title="Delete Location" onclick="delete_location(${item.id})">
                            Delete
                        </a>
                        </td>
                    </tr>
        
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="information">
      </div>
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Add Infrastructure</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2 mx-3">

              <form role="form">
                  <select id="location" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                      <option value="">Pick a Location</option>
                      {% for loc in locations %}
                      <option value="{{loc.id}}">{{loc.name}}</option>
                      {% endfor %}
                  </select>
                  <div class="input-group input-group-outline mb-3">
                    <label class="form-label">Infrastructure Name</label>
                    <input type="text" class="form-control" id="infras-name">
                  </div>
                  <label for="description" class="form-label">Description of Infrastructure</label>
                  <div class="input-group input-group-outline mb-3">
                    <textarea class="form-control" id="description" rows="4"></textarea>
                  </div>
                  <div>
                  <div class="text-center input-group-append">
                      <button type="button" class="btn bg-gradient-primary btn-lg w-100 mb-0" id="submit">Add</button>
                  </div>
                </form>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
    {% include 'admin/partials/_footer.html' %}
  </div>
  <script src="{{ url_for('admin_views.static', filename='js/infrastructure.js')}}"></script>
{% endblock body %}
