{% extends "users/base.html" %}

{% block title %}Damage{% endblock title %}

{% block body %}
{% include "users/partials/_nav.html" %}

        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center" id="damage-content">
                <div class="col-md-6">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="/static/images/{{damage.id}}/{{damage.images[0].name}}" class="d-block w-100" alt="{{ damage.images[0].name }}">
                          </div>
                          {% for img in damage.images %}
                          <div class="carousel-item">
                            <img src="/static/images/{{damage.id}}/{{img.name}}" class="d-block w-100" alt="{{ img.name }}">
                          </div>
                          {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
                    <div class="col-md-6">
                        <div class="small mb-1">{{damage.category.name}} Problem</div>
                        <h1 class="display-5 fw-bolder">{{damage.facilities.name}} in {{damage.facilities.infrastructures.name}} </h1>
                        <div class="fs-6 mb-2">
                            <span class="fw-bolder">Status: </span><span class="">{{damage.state}}</span>
                        </div>
                        <div class="fs-6 mb-2">
                            <span class="fw-bolder">Priority: </span><span class="">{{damage.priority}}</span>
                        </div>
                        <div class="fs-6 mb-2">
                            <span class="fw-bolder">Reported by: </span><span class="">{{damage.student_users.first_name}} {{damage.student_users.last_name}}</span>
                        </div>
                        <div class="mb-2">
                            <span class="fw-bolder">Description of damage:</span>
                            <span class="fs-6">{{damage.description}}</span>
                        </div>
                        {% if user and damage.state == 'Awaiting Verification' %}
                        <form>
                          <div class="form-row align-items-center">
                            <div class="col-auto form-row my-1">
                              <label class="mr-sm-2 fw-bolder fs-5" for="verify">Has the job been done?</label>
                              <select class="custom-select mr-sm-2" id="verify">
                                <option selected value="">Choose...</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                              </select>
                            </div>
                            <div class="col-auto my-1">
                              <button type="button" class="btn btn-primary" data-damage-id="{{ damage.id }}" onclick="verifyJob(this)">Submit</button>
                            </div>
                          </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

<script src="{{ url_for('static', filename='js/damage.js')}}"></script>
{% endblock body %}

